*{
    margin: 0;
    padding: 0;


}

h1{
text-align: center;
color: rgb(6, 14, 0);
font-family: serif;
margin: 3rem;
padding: 0;


}

footer{
padding: 1rem;
margin: 1rem;

text-align: center;
background-image: linear-gradient(rgb(119, 119, 143),rgb(247, 246, 195));
}
/*Footer*/

.contenedorFooter{

background-color:rgb(239, 243, 223);

color: black;

width: 100%;

height: auto;

padding: 1rem;
margin: 1rem;



}

.itemFooter{

margin-bottom: 1rem;

}

.itemFooter h4{

font-size: 1.5rem;

}

.itemFooter a{



text-decoration: solid;

color: white;

display: block;

margin-top: 1rem;





}

.itemFooter a:hover{

color: rgb(218, 117, 24);

}



@media screen and (min-width: 576px){

.contenedorFooter{

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    

    



}

.itemFooter{

    border-right: 1px solid white;

    padding: 1.5rem;

}

.itemFooter:last-of-type{

    border-right: none;

    

}

}

@media screen and (min-width:1280px){

body{

    width: 80%;

    max-width: 1400px;

    margin: 8rem;

}

}