*{
    margin: 100;
    padding: 100;
    border: 10;
}
h1{
    background-image: url(../img/qs.webp);
    text-align: center;
    color: rgb(12, 12, 12);
    padding: 200px;
    margin: 100px;
    border: 30px;
}
p{

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px;
    border: 30px;

}